
img {
	height: 270px
}
.circle {
	border-radius: 50%;
}
.icon {
	height: 25px;
}
a:hover {
	color: pink;

}
body {
	font-family: 'Farsan' ;
	font-size: 25px;
}
.color{
	background-color: red;
}
body {
	font-family: 'Farsan' ;
	font-size: 25px;
}
nav {
	font-family: 'Oswald', sans-serif;
}
h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}
body {
	background-color: #B82601;
}
p {
	color: black
}
button {
	color: pink;
	background-color: black;
	font-family: 'Playfair Display', serif;
	border-color: #EAC67A;
	padding-left:20px;
	padding-right:20px;
}
.navbar-inverse {
	background-color: #B82601;
}
.jumbotron {
	background-color: #EAC67A;